/* fix rtl for demo */
.chosen-rtl .chosen-drop { left: -9000px; }

body {
    font-family: "Roboto" !important;}

#top,
#calendar.fc-unthemed {
}

#top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
    color: #000;
}

#top .selector {
    display: inline-block;
    margin-right: 10px;
}

#top select {
    font: inherit; /* mock what Boostrap does, don't compete  */
}

.left { float: left }
.right { float: right }
.clear { clear: both }

#calendar span.label {margin-top:5px; display:inline-block;}

#calendar {
}


#calendar .passe {transition:opacity 0.3s; background-color:#888888; border:1px solid #6D6D6D; opacity:0.6;}
#calendar .passe:hover {opacity:1;}
#calendar .encours {background-color:#B49000; border:1px solid #9A7B00;}
#calendar .td-cm {background-color:#32A231; border:1px solid #257D24;}
#calendar .tp {background-color:#2B5B85; border:1px solid #224C6D;}
#calendar .eval {background-color:#C52652; border:1px solid #991E40;}

#calendar .fc-content {padding:5px;}
#calendar .fc-event .fc-time {font-weight:bold; margin-bottom:5px;}

.tooltipevent {background-color:red;}